@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  @apply text-stone font-[500];
}
::-webkit-scrollbar {
  @apply hidden;
}

img {
  @apply object-cover;
}

/* 데스크탑 */
@media (min-width: 768px) {
  #header {
    @apply w-full h-[60px] top-0 fixed z-[100] shadow-md bg-white;
  }
  #nav {
    @apply h-[240px] mt-[60px] mb-[40px];
  }
  #main {
    @apply w-[80%] mx-auto;
  }
  #footer {
    @apply w-full h-[300px] bg-stone/80;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  #header {
    @apply w-full h-[60px] top-0 z-[100] fixed shadow-md bg-white;
  }
  #nav {
    @apply hidden;
  }
  #main {
    @apply w-[95%] mt-[60px] mb-[100px] mx-auto;
  }
  #footer {
    @apply w-full h-[80px] bottom-0 fixed z-[100] shadow-top bg-white;
  }
}
