@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#header {
  @apply w-full h-[80px] top-0 fixed z-[100] shadow-md bg-white;
}

#nav {
  @apply h-[240px] mt-[80px] mb-[40px];
}

#main {
  @apply w-[80%] mx-auto;
}

#footer {
  @apply w-full h-[300px] bg-stone/80;
}
